body {
    margin: 0;
    padding: 0;
    position: fixed; /* se pone fixed como truco de css para que no haya scroll y el body ocupe toda la pantalla sin generar scroll*/
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
a {
    text-decoration: none;
    display: inline; /* para que se pongan de forma horizontal*/ 
    color: black;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #ffe0e9;
}
header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center; /* se justifica que los elementos tomen todo el espacio para que se puedan centrar*/ 
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}
header .icons span {
    color: purple;
}